.IntroOutSide{
    width:100%;
    height:calc(100vh - 45px);
    background: url(https://ak.hypergryph.com/assets/index/images/ak/sp/bk.jpg);
    background-size:100% 100%;
    background-position: center center;
}
.IntroLand{
    width:100%;
    height:calc(100vh - 45px);
    background: url(https://ak.hypergryph.com/assets/index/images/ak/sp/faction/1.png);
    background-size:50%;
    background-repeat: no-repeat;
    background-position-x: right;
}
.IntroInSide{
    width:100%;
    height:calc(100vh - 45px);
    background: url(https://ak.hypergryph.com/assets/index/images/ak/sp/characters/amiya.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;

    color:#ffffff;
    font-weight: bold;
    font-size:15px;

    padding:175px 0px 0px 225px;

}