/*常见的几种Flex-Column布局*/
.ccFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.csFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.ceFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.cbFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:space-between;
}
.caFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}
.scFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ssFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.ecFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.bcFlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*常见的几种Flex-Row布局*/
.scFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.acFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.bcFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ssFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.ecFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.eeFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.esFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.ccFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ceFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}